
.wrapper{
  background-color: blue;
 }
 
 .even-columns {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   align-items: center;
   
 }
 .col {
   width: 371px;
   height: 441px;
   flex-basis: 100%;
   padding: 2em;
 }
 