@import "../Vars.scss";
@import "../Media.scss";

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 20px -10px;
  width: 100%;
  height: 80px;
  background: $secondary-color;
  top: 0;
  position: sticky;
  z-index: 10;
}

#logoHeader {
  width: 10em;
  flex-grow: 1;
  margin-left: 0.5em;
  padding: 1em;
}

.links {
  margin-left: 1em;
  margin-right: 1em;
}

.links a {
  color: $detailsPink-color;
  padding: 1em;
  text-decoration: none;
  font-weight: 100;
}
.links a:hover {
  color: $detailsGreen-color;
}

.hover-1 {
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: $detailsLila-color;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
  }

  &:hover {
    &:after {
      transform-origin: bottom left;
      transform: scaleX(1);
    }
  }
}

.links button {
  color: $detailsPink-color;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 1em;
  text-decoration: none;
  font-weight: 100;
}

.links button:hover {
  color: $detailsLila-color;
}
