@import url(https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap);

$theme-font: "Prompt", sans-serif;
$main-color: #24252b;
$secondary-color: #282a30;
$accents-color: #32323b;
$detailsGreen-color: #9deaa7;
$detailsOrange-color: #efaa5b;
$detailsLila-color: #9595e9;
$detailsPink-color: #ea9bb6;
$text-color: #fff;
